<!DOCTYPE html>
<html>
  <head>
	<title>index.html</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script>
  $(document).ready(function() {
    var dt;
    dt = new Date();
    return $.ajax({
      type: 'GET',
      dataType: 'json',
      url: "/channel/silex/date/" + (new Date().toString()),
      success: function(data, textStatus, jqXHR) {
        var template = _.template($('#log-row-tpl').html())
        var html = '';
        _.each(data, function(log) {
          log.date = new Date(log.timestamp).toString()
          html += template(log);
        });
        return $("<ul></ul>").append(html).appendTo("#logs")
      },
      error: function(data, textStatus) {
        return console.log("" + textStatus + ": " + data);
      }
    });
  });
    </script>
  </head>
  <body>
    <script type="x-template" id="log-row-tpl">
      <li>
        <label><%= date %></label>
        <label><%= nickName %></label>
        <div><%= message %></div>
      </li>
    </script>
    <div id="logs">
    </div>
  </body>
</html>
